.flip-card {
    perspective: 800px; /* Necesario para efecto 3D */
    cursor: pointer;
}

.flip-inner {
    position: relative;
    width: 110px;
    height: 170px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card.volteada .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

/* frontal (cara real) */
.flip-front {
    background: white;
}

/* dorso */
.flip-back {
    background: repeating-linear-gradient(
        45deg,
        #004aad,
        #004aad 10px,
        #3fa9f5 10px,
        #3fa9f5 20px
    );
    border: 2px solid #002f6c;
    transform: rotateY(180deg);
}
